{% extends ".html" %}

{% block body %}
<div style="text-align: center;">
    <h1>Registry</h1>
    <p>
        The Bride and Groom are registered at
    </p>
    <a href="http://www.bedbathandbeyond.com/regGiftRegistry.asp?wrn=-549145327&" target="_blank"><img src="../static/img/bbandb.png" /></a>
    <img src="../static/img/flower.png" />
    <a href="http://www.tenthousandvillages.com/giftregistry/view/index/id/9f94f4562e2e34864694e747cdbbe68c/"><img src="http://www.tenthousandvillages.com/skin/frontend/villages/default/images/logo.png"></a>
    <p>
        Clicking the logos will take you directly to the registry pages. Gift cards to Ikea would also be appreciated, to help the Bride and Groom get settled into their new home in Oklahoma.
    </p>
</div>
{% endblock %}
