{% extends ".html" %}

{% block body %}
<div style="text-align: center;">
    <h1 style="margin-top: 45px; margin-bottom: 35px;">Wedding Day Information</h1>
    <p class="info">
        The Ceremony and Reception will be held at <br />
        <span class="emphasis">St. Elizabeth <a href="http://maps.google.com/maps?q=1757+Mills+Avenue,+Norwood,+OH+45212&um=1&ie=UTF-8&hq=&hnear=0x8841b2ee14697757:0x35ae266b8997f41b,1757+Mills+Ave,+Cincinnati,+OH+45212&gl=us&ei=XRzgTtyyO6ariALi9IymDw&sa=X&oi=geocode_result&ct=title&resnum=1&ved=0CCEQ8gEwAA">(Map)</a></span>
        1757 Mills Avenue<br/>
        Norwood, OH 45212<br/>

    </p>
    <hr style="width: 360px; color: #321d00;" />
    <p class="info">
        Rooms have been blocked off for your convenience. <br />
        Please make reservations to ensure group pricing.
    </p>
    <p class="info">
        <span class="emphasis"><a href="http://www.marriott.com/hotels/travel/cvgdr-cincinnati-marriott-at-rivercenter">Cincinnati Marriott at River Center</a></span> (<a href="http://maps.google.com/maps?q=cincinnati+marriott+at+rivercenter&ll=39.092183,-84.512136&spn=0.008643,0.02105&fb=1&gl=us&hq=cincinnati+marriott+at+rivercenter&hnear=cincinnati+marriott+at+rivercenter&cid=0,0,17199926306047252435&t=m&z=16&vpsrc=0&iwloc=A" target="_blank">Map</a>) <br />
        (859) 261-2900 <br />
        10 West River Center Blvd.<br />
        Covington, KY 41011<br/>
        Reservations must be made on or before January 4th, 2012<br/>
        Group rate under "Falter/Caviness Wedding"
    </p>
</div>
{% endblock %}
